* {
  text-decoration: none;
  list-style: none;
  font-family: serif;
  font-size: 20px;
}

.rocket-list-item {
  display: flex;
  margin: 10px 40px 30px 40px;
  align-items: flex-start;
  gap: 20px;
}

.rocket-image {
  width: 20%;
}

.rocket-info h2 {
  color: #000;
  font-weight: 550;
}

.rocket-info p {
  margin: 1rem 0;
}
